.container {
  position: absolute;
  display: flex;
  z-index: 10;
  gap: 4px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(48, 151, 0, 0.4);
  width: 10px;
  height: 10px;
  border-radius: 100%;

  &.selected {
    background-color: rgb(48, 151, 0);
  }
}
