.sidebarContainer {
  width: 450px;
  height: 100%;
  border-right: 1px solid #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 0;
  background-color: white;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.location {
  width: 100%;
  font-weight: bold;
  font-size: larger;
  padding: 10px 20px;
}

.recommend {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.id {
  color: #0054cc;
}

.sidebarClose {
  transform: translateX(-450px);
}

.logo {
  width: 200px;
}

.storeContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #ededed;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    border-radius: 12px;
  }
}

.btnClose {
  width: 20px;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-radius: 0 8px 8px 0;
  background-color: white;
  position: absolute;
  left: 450px;
  top: 50%;
  transform: translateY(-50%);
  &:hover {
    background-color: #f6faff;
    color: #5db2ff;
  }
}

.arrowIcon {
  transform: translateY(1px);
}
