.container {
  display: flex;
  flex-direction: column;
  margin-left: 450px;
  background-color: whitesmoke;
  width: 450px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  transform: translateX(0);
  overflow-y: auto;
}

.imageContainer {
  width: 100%;
  height: 200px;
  position: absolute;
}

.placeWrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #fff;
  margin-top: 200px;
  margin-bottom: 8px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}

.category {
  color: gray;
  margin-bottom: 8px;
}

.description {
  color: gray;
}

.detailTab {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  position: sticky;
  top: 50px;
}

.homeTab,
.reviewTab,
.photoTab {
  width: 100%;
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  &.currentTab {
    border-bottom: 3px solid #000;
  }
}

.scrolledHeader {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 16px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 450px;
  z-index: 2000;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
