.container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 20px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.icon {
  width: 20px;
  height: 20px;
}

.text {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: normal;
}

.address,
.phone {
  display: flex;
  align-items: center;
  gap: 4px;
}

.time {
  display: flex;
  align-items: center;
  gap: 4px;

  &.isEnter {
    align-items: start;
  }
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu {
  line-height: 1.5;
}
