.container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(150px, 1fr)
  ); /* 2개씩 배치되도록 설정 */
  gap: 8px; /* 이미지 사이의 간격 */
  padding: 8px;
  background-color: #fff;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 고정된 크기에 맞게 잘리거나 늘어나지 않도록 설정 */
  border-radius: 12px;
}
