.container {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 40px;
  cursor: pointer;
}

.imageWrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  &:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
  }
}

.storeInfo {
  margin: 10px 0 20px 0;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleContainer {
  display: flex;
  align-items: end;
}

.title {
  color: #0054cc;
  font-weight: 600;
  font-size: large;
  margin-right: 5px;
}

.category {
  color: gray;
}

.reviewContainer {
  background-color: #e5f4f9;
  width: 100%;
  height: 70px;
  vertical-align: middle;
  padding: 12px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  position: relative;

  &:hover {
    background-color: #cceaf4;
  }
}

.reviewArrow {
  width: 20px;
  height: 20px;
  background-color: #e5f4f9;
  z-index: 10;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translatex(-50%) rotate(45deg);
}

.reviewContainer:hover .reviewArrow,
.reviewArrow:hover {
  background-color: #cceaf4;
}

.ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: small;
}
