.container {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
}

.imageWrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  &:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
  }
}

.storeInfo {
  margin: 10px 0;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleContainer {
  display: flex;
  align-items: end;
}

.title {
  color: #0054cc;
  font-weight: 600;
  font-size: large;
  margin-right: 5px;
}

.category {
  color: gray;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.storeDesc {
  padding: 0 4px;
}
