.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  padding-top: 100px;
}

.logo {
  width: 200px;
}

.form {
  width: 100%;
  padding: 0 20px;
}

.submit {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  background-color: rgba(48, 151, 0, 0.4);
  &.valid {
    background-color: rgb(48, 151, 0);
  }
}

.infoLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 40px);
  height: 50px;
  margin: 10px 20px;
  background-color: #e0e0e0;
  gap: 4px;
}

.loginButton {
  color: rgb(48, 151, 0);
  text-decoration: underline;
  font-weight: bold;
}
